@using AgilusFinan.Domain.Entities;
@model List<PrevistoRealizado>

@*<div style="margin: 10px;">
    <div class="row">
        <div class="col-md-6">@Model[0].Tipo</div>
        <div class="col-md-6" align="right">Previsto: @Model[0].Previsto.ToString("C")</div>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="@Model[0].Realizado" aria-valuemin="0" aria-valuemax="@Model[0].Previsto" style="width: @Convert.ToInt32(Model[0].Porcentagem)%">
            <span>@Model[0].Realizado.ToString("C")</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">@Model[1].Tipo</div>
        <div class="col-md-6" align="right">Previsto: @Model[1].Previsto.ToString("C")</div>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@Model[1].Realizado" aria-valuemin="0" aria-valuemax="@Model[1].Previsto" style="width: @Convert.ToInt32(Model[1].Porcentagem)%">
            <span>@Model[1].Realizado.ToString("C")</span>
        </div>
    </div>
</div>*@

<canvas style="padding-top: 20px" id="canvasPagamento" width="578" height="250"></canvas>

<canvas id="canvasRecebimento" width="578" height="250"></canvas>

<style>
    canvas {
        width: 80%;
    }

</style>

<script>
    geraGrafico("canvasPagamento", @Math.Floor(Model[0].Porcentagem), '@Model[0].Previsto.ToString("C")', '@Model[0].Realizado.ToString("C")', '@Model[0].Tipo', '#d9534f' );
    geraGrafico("canvasRecebimento", @Math.Floor(Model[1].Porcentagem), '@Model[1].Previsto.ToString("C")', '@Model[1].Realizado.ToString("C")', '@Model[1].Tipo', 'green' );


    function geraGrafico(nomeCanvas, porcentagem, textoInterno, textoExterno, titulo, cor) {
        canvas = document.getElementById(nomeCanvas);
        context = canvas.getContext('2d');

        var x = canvas.width / 2;
        var y = canvas.height / 2;
        var radius = 95;
        var startAngle = porcentagem / 100 * Math.PI;
        var endAngle = -porcentagem / 100 * Math.PI;
        var counterClockwise = true;

        context.beginPath();
        context.arc(x, y, radius, startAngle, endAngle, counterClockwise);
        context.lineWidth = 50;

        // line color
        context.strokeStyle = cor;
        context.stroke();

        if (porcentagem < 100) {
            var context = canvas.getContext('2d');
            context.beginPath();
            context.arc(x, y, radius, startAngle, endAngle, !counterClockwise);

            // line color
            context.strokeStyle = 'lightgray';
            context.stroke();
        }

        var context = canvas.getContext('2d');
        var radius = 75;
        var startAngle = 0 * Math.PI;
        var endAngle = 2 * Math.PI;
        var counterClockwise = true;

        context.beginPath();
        context.arc(x, y, radius, startAngle, endAngle, counterClockwise);
        context.lineWidth = 10;

        // line color
        context.strokeStyle = 'gray';
        context.stroke();

        // texto interno
        y += 10;
        var context = canvas.getContext('2d');
        context.textAlign = 'center';
        context.font = '12pt Helvetica';
        context.fillText('Previsto', x, y-20);
        context.fillText('Realizado', x+200, y-20);
        context.font = 'bold 14pt Helvetica';
        context.fillText(titulo, x-200, y-100);
        context.fillText(textoInterno, x, y);
        context.fillText(textoExterno, x+200, y);
    }

    $(window).resize(function() {
        $('#canvaPagamento').height(
            $('#canvasPagamento').width() / 2.031);
    });
</script>