@{
    ViewBag.Title = "AgilusFinan";
}



<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Periodo
        </div>
        <div class="panel-body">
            <div class="col-md-4">
                <input type="button" class="btn btn-default botaomes" id="Mes3" value="@DateTime.Now.AddMonths(-3).ToString("MMMM")" data-inicial-mes="@DateTime.Now.AddMonths(-3).ToString("yyyy-MM-01")" data-final-mes="@DateTime.Now.AddDays(-DateTime.Now.Day).AddDays(1).AddMonths(-2).AddDays(-1).ToString("yyyy-MM-dd")" />
                <input type="button" class="btn btn-default botaomes" id="Mes2" value="@DateTime.Now.AddMonths(-2).ToString("MMMM")" data-inicial-mes="@DateTime.Now.AddMonths(-2).ToString("yyyy-MM-01")" data-final-mes="@DateTime.Now.AddDays(-DateTime.Now.Day).AddDays(1).AddMonths(-1).AddDays(-1).ToString("yyyy-MM-dd")" />
                <input type="button" class="btn btn-default botaomes" id="Mes1" value="@DateTime.Now.AddMonths(-1).ToString("MMMM")" data-inicial-mes="@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-01")" data-final-mes="@DateTime.Now.AddDays(-DateTime.Now.Day).AddDays(1).AddMonths(0).AddDays(-1).ToString("yyyy-MM-dd")" />
                <input type="button" class="btn btn-default botaomes" id="Mes0" value="@DateTime.Now.ToString("MMMM")" data-inicial-mes="@DateTime.Now.ToString("yyyy-MM-01")" data-final-mes="@DateTime.Now.AddDays(-DateTime.Now.Day).AddDays(1).Date.AddMonths(1).AddDays(-1).Date.ToString("yyyy-MM-dd")" />
            </div>
            <div class="col-md-2">
                <input type="date" class="form-control"  id="dataInicial" value="@DateTime.Now.ToString("yyyy-MM-01")">
            </div>
            <div class="col-md-2">
                <input type="date" class="form-control"  id="dataFinal" value="@DateTime.Now.AddDays(-DateTime.Now.Day).AddDays(1).Date.AddMonths(1).AddDays(-1).Date.ToString("yyyy-MM-dd")">
            </div>
            <div class="col-md-2">
                <span class="btn btn-primary" id="consultar">
                    Consultar
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4"> 
         <div class="panel panel-primary" id="resumoTitulos">
         </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-primary" id="TitulosPendentes">
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-primary" id="PrevistosRealizados">
        </div>
    </div>
</div>


<script>



    $('.botaomes').click(function () {
        var datainicial = $(this).attr('data-inicial-mes');
        var datafinal = $(this).attr('data-final-mes');
        $('#dataInicial').val(datainicial);
        $('#dataFinal').val(datafinal);
        consultaDashboard();
    })

    var consultaDashboard = function () {

        var dataInicial = $('#dataInicial').val();
        var dataFinal = $('#dataFinal').val();

        $.ajax({
            url: "../ResumoTituloCategoria",
            method: "GET",
            data: {
                dataInicial: dataInicial,
                dataFinal: dataFinal
            },
            beforeSend: function () {
                $("#resumoTitulos").html('<img src="/Content/Images/loading.gif">');
            },
            success: function (conteudo) {
                $("#resumoTitulos>img").remove();
                $("#resumoTitulos").html(conteudo);
            },
            error: function (e) {
                $("#resumoTitulos>img").remove();
                $("#resumoTitulos").html(e.message);
            }
        });

        $.ajax({
            url: "../TituloPendente",
            method: "GET",
            data: {
                dataInicial: dataInicial,
                dataFinal: dataFinal
            },
            beforeSend: function () {
                $("#TitulosPendentes").html('<img src="/Content/Images/loading.gif">');
            },
            success: function (conteudo) {
                $("#TitulosPendentes>img").remove();
                $("#TitulosPendentes").html(conteudo);
            },
            error: function (e) {
                $("#TitulosPendentes>img").remove();
                $("#TitulosPendentes").html(e.message);
            }
        });

        $.ajax({
            url: "../PrevistoRealizado",
            method: "GET",
            data: {
                dataInicial: dataInicial,
                dataFinal: dataFinal
            },
            beforeSend: function () {
                $("#PrevistosRealizados").html('<img src="/Content/Images/loading.gif">');
            },
            success: function (conteudo) {
                $("#PrevistosRealizados>img").remove();
                $("#PrevistosRealizados").html(conteudo);
            },
            error: function (e) {
                $("#PrevistosRealizados>img").remove();
                $("#PrevistosRealizados").html(e.message);
            }
        })
    };
    consultaDashboard();

    $('#consultar').click(consultaDashboard);

</script>


    