@model System.Collections.Generic.List<AgilusFinan.Domain.Entities.TituloPendente>

<table id="titulosAVincularLista">
    @foreach (var titulo in Model)
    {
        <tr data-tituloId=@titulo.TituloId>
            <td><input type="checkbox" name="name" value=" " /></td>
            <td>@titulo.TituloId</td>
            <td>@titulo.TituloRecorrenteId</td>
            <td>@titulo.Descricao</td>
            <td>@titulo.Valor </td>
            <td>@titulo.Direcao</td>
            <td>@titulo.DataVencimento</td>
            <td><input type="text" name="acrescimos" disabled="disabled" value=" " /></td>
        </tr>
    }
</table>

<input class="btn btn-default modal" value="Vincular" />


<style>


</style>