@model System.Collections.Generic.List<AgilusFinan.Domain.Entities.TituloPendente>

<table id="titulosAVincularLista">
    @foreach (var titulo in Model)
    {
        <tr data-tituloid=@titulo.TituloId>
            <td><input type="checkbox" name="vinculoCheckbox" /></td>
            <td name="TituloId">@titulo.TituloId</td>
            <td name="TituloRecorrenteId">@titulo.TituloRecorrenteId</td>
            <td name="Descricao">@titulo.Descricao</td>

            @*<td>@titulo.Valor</td>*@

            @if (titulo.Valor == null)
            {
                <td> <input type="text" name="Valor" disabled="disabled" value="0" /> </td>
            }
            else
            {
                <td name="Valor">@(((decimal)titulo.Valor).ToString("C"))</td>
            }

            <td name="Direcao">@titulo.Direcao</td>
            <td name="CategoriaId">@titulo.CategoriaId</td>
            <td name="DataVencimento">@titulo.DataVencimento.Date.ToShortDateString()</td>
            <td name ="PessoaId">@titulo.PessoaId</td>
            <td name="ContaId">@titulo.ContaId</td>
            @*<td><input type="text" name="Acrescimo" disabled="disabled" value="0" /></td>
            <td><input type="text" name="Desconto" disabled="disabled" value="0" /></td>*@
        </tr>
    }
</table>

<input class="btn btn-default modal" value="Vincular" />


<style>


</style>

<script>
    var VinculoTitulos = function () {

    }();
</script>