@{
    ViewBag.Title = "Vinculo de Titulos";
}

@using AgilusFinan.Domain.Entities
@model List<ConciliacaoExtrato>
<h2>Vinculo Extrato/Titulos</h2>

@{
    var extratoId = 0;
}

<div id="dialog-form" class="dialog" title="Vincular títulos">

</div>

<div class="item-vinculo">
    @foreach (var vinculo in Model)
    {
        <div class="row">
            <div class="col-md-10">
                <div class="list-group item-extrato" data-extratoId=@extratoId>
                    <table class="extrato-table">
                        <thead>
                            <tr>
                                <th>Data Lancamento</th>
                                <th>Descricao</th>
                                <th>Valor</th>
                                <th>Tipo de lançamento</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>@vinculo.DataLancamento</td>
                                <td>@vinculo.Descricao</td>
                                <td>@vinculo.Valor</td>
                                <td>@vinculo.TipoLancamento</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr />
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-5 col-md-5 col-lg-5">
                            <button class="btn btn-default modal-button" data-botaoId=@extratoId>Buscar titulos</button> <br />
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <ul id="titulosVinculados"></ul>
                    </div>
                    </div>

                </div>
                @{
                     extratoId = extratoId + 1;
                }
            </div>
        </div>

    }
</div>


<script>

    var conciliacaoExtratoController = (function () {
        
        var titulosVinculados = {};

        var getItemExtrato = function (idLinha) {

            var extratoElement = $('[data-extratoId=' + idLinha + ']');
            var itemExtrato = {};

            var extratoColunas = extratoElement.find("table > tbody > tr > td");

            var dia = extratoColunas[0].innerHTML.substring(0, 2);
            var mes = extratoColunas[0].innerHTML.substring(3, 5);
            var ano = extratoColunas[0].innerHTML.substring(6, 10);            

            itemExtrato.DataLancamento = mes + "/" + dia + "/" + ano;
            itemExtrato.Descricao = extratoColunas[1].innerHTML;
            itemExtrato.Valor = extratoColunas[2].innerHTML.replace(",", ".");
            itemExtrato.TipoLancamento = extratoColunas[3].innerHTML;

            return itemExtrato;

        };

        var limpaTitulosVinculados = function () {
            extratoElement.find('#titulosVinculados > li').remove();
        }

        var setTitulosVinculados = function (titulos) {
            var titulosDiv = extratoElement.find("#titulosVinculados");
            var li;
            limpaTitulosVinculados();

            for(var i in titulos) {
                li = document.createElement('li');
                var tituloText = document.createTextNode(titulos[i].tituloId);
                li.appendChild(tituloText);
                titulosDiv.append(li);
            }

        }

        var getTitulosSelecionados = function() {
            var selectedCheckbox = $("#titulosAVincularLista > tbody > tr > td > input:checked");
            var titulosSelecionados = [];

            $.each(selectedCheckbox, function(item) {
                var titulosCells = $(selectedCheckbox[item]).parent().parent().find('td');

                titulosSelecionados.push({
                    tituloId: titulosCells[1].innerHTML,
                    tituloRecorrenteId: titulosCells[2].innerHTML
                });

            });
            titulosVinculados.titulos = titulosSelecionados;
        };

        var limpaTitulosSelecionados = function () {
            var selectedCheckbox = $("#titulosAVincularLista > tbody > tr > td > input:checked");

            $.each(selectedCheckbox, function(item) {
                $(selectedCheckbox[item]).prop("checked", false);
            });

        }

        var sendRequest = function() {

            $.ajax({
                type: "POST",
                url: "@Url.Action("ConcilarTitulos")",
                data: {
                    titulosAConciliar: JSON.stringify(titulosVinculados)
                },
                success: function(response) {
                    var titulos = JSON.parse(JSON.parse(response)).titulos;
                    setTitulosVinculados(titulos);
                    dialog.dialog("close");
                },
                error: function(error) {
                    console.log(error);
                }
            });

        };

        var dialog = $("#dialog-form").dialog({
            autoOpen: false,
            height: 700,
            width: 1000,
            modal: true,
            buttons: {
                Ok: {
                    text: "Vincular",
                    id: "vincular",
                    click: function() {
                        getTitulosSelecionados();
                        sendRequest();
                        dialog.dialog("close");
                    }
                },
                Cancel: function () {
                    dialog.dialog("close");
                }
            },
            open: function() {
                limpaTitulosSelecionados();
            },
            close: function () {
                
            }
        });

        $(".modal-button").click(function () {
            var itemExtratoId = $(this).attr("data-botaoid");
            console.log(getItemExtrato(itemExtratoId));

            $.ajax({
                type: "GET",
                data: {
                    tituloAConciliar: JSON.stringify(getItemExtrato(itemExtratoId))
                },
                url: "@Url.Action("VinculoTitulos")",
                success: function(data) {

                    $("#dialog-form>table").remove();
                    $("#dialog-form").append(data);
                    dialog.dialog("open");
                },
                error: function(error) {

                }

            });

            
            
            
        });

    }());


</script>


<style>
    
    .item-extrato {
        border: 1px solid grey;
        box-shadow: 5px 5px 30px grey;
    }
   
     .extrato-table {
         border: 1px solid;
         margin-top: 10px;
         margin-bottom: 10px;
         margin-left: 60px;
         table-layout: fixed;
         width: 80%;
         font-size: 12px;
     }

    .extrato-table > tbody > tr >td {
        width: 200px;
    }

    .extrato-table > thead {
        background-color: lightgray;
        border: 1px solid grey;
        width: 100px;
        z-index: 0;
    }

    .extrato-table > thead > th {
        border: 1px solid black;
        width: 100px;
    }

    .dialog {
        width: 100%;
    }
    
    #dialog-form > table {
        border: 1px solid;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 60px;
        table-layout: fixed;
        width: auto;
        font-size: 12px;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }

    #titulosVinculados {
        list-style: none;
    }
</style>
