@{
    ViewBag.Title = "Vinculo de Titulos";
}

@using AgilusFinan.Domain.Entities
@using AgilusFinan.Web.Bases
@using AgilusFinan.Web.ViewModels
@model List<ConciliacaoExtrato>
<h2>Vinculo Extrato/Titulos</h2>

@{
    var extratoId = 0;
}

<div id="dialog-form" class="dialog" title="Vincular títulos">
    <h5>Valor extrato: <span id="valorExtrato"></span></h5>
    <h5>Soma dos títulos (c/ acrescimos): <span id="valorSomatoria"></span></h5>
    <div id="painel-periodo">
        @Html.Partial("_PainelPeriodo")
    </div>
</div>

<div id="cadastroTituloDialog" class="dialog" title="Cadastrar título">
         @Html.Partial("_CadastroTitulo", new TituloViewModel())
</div>


<div class="item-vinculo">
    @foreach (var vinculo in Model)
    {
        <div class="row">
            <div class="col-md-10">
                <div class="list-group item-extrato" data-extratoId=@extratoId>
                    <table class="extrato-table">
                        <thead>
                            <tr>
                                <th>Data Lancamento</th>
                                <th>Descricao</th>
                                <th>Valor</th>
                                <th>Tipo de lançamento</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>@vinculo.DataLancamento</td>
                                <td>@vinculo.Descricao</td>
                                <td>@vinculo.Valor</td>
                                <td>@vinculo.TipoLancamento</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr />

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table" id="titulosVinculados">
                                <thead>
                                    <tr>
                                        <th>Operação</th>
                                        <th>ID</th>
                                        <th>ID Titulo Recorrente</th>
                                        <th>Descrição</th>
                                        <th>Valor</th>
                                        <th>Direção</th>
                                        <th>Data de vencimento</th>
                                        <th>Acréscimos</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-1">
                            <button class="btn btn-default vincularTitulos" data-botaoid=@extratoId>Buscar</button> <br />
                            
                        </div>
                        <div class="col-sm-2 ">
                            <button class="btn btn-default adicionarTitulo"  data-botaoid=@extratoId>Adicionar</button> <br />

                        </div>
                    </div>
                </div>
                @{
                     extratoId = extratoId + 1;
                }
            </div>
        </div>

    }
</div>


<script>
    var teste;
    
    //objeto extrato
    var Task = function (id, itemExtrato) {
        this.itemExtratoId = id;
        this.itemExtrato = itemExtrato;
        this.isNew = true;
        this.titulosSelecionados = [];
        this.titulosIncluidos = [];
        this.ignorar = false;
        this.observer = {};
        this.selecionado = false;
        
        var vincularTitulo = function(titulo, observer) {
            this.observer = observer;
            this.titulosSelecionados.push(titulo);
        };

        var desvincularTitulo = function(titulo) {
            this.titulosSelecionados.forEach(function(t, index, titulos) {

                if (titulo.TituloId == t.TituloId) {
                    titulos.splice(index, 1);
                }

            });

        };

        var somaTitulos = function() {
            var soma = 0;
            if (this.titulosSelecionados) {
                this.titulosSelecionados.forEach(function(titulo, index, titulos) {
                    soma += (titulo.Valor + (titulo.Acrescimos? titulo.Acrescimos : 0));
                });
                return soma;
            } else {
                return 0;
            }
        };

        return {
            itemExtratoId: id,
            selectionado: this.selecionado,
            itemExtrato: this.itemExtrato,
            isNew: this.isNew,
            titulosSelecionados: this.titulosSelecionados,
            titulosIncluidos: this.titulosIncluidos,
            vincularTitulo: vincularTitulo,
            desvincularTitulo: desvincularTitulo,
            somaTitulos: somaTitulos
        }

    }

    var conciliacaoExtratoController = (function () {
        //variaveis
        var tasks = [];
        var task = {};
        var extratoElement;
        var itemExtrato = {};
        var taskUndo = {};
        var itemExtratoId;
        var valorTotal;

        //Metodos
        var updateModal = function () {
            $('#valorSomatoria').html(task.somaTitulos());
        }

        var convertDate = function (date) {
            var dia = date.substring(0, 2);
            var mes = date.substring(3, 5);
            var ano = date.substring(6, 10);

            return mes + "/" + dia + "/" + ano;
        };

        var getItemExtrato = function() {
            var extratoColunas = extratoElement.find("table > tbody > tr > td");
            itemExtrato.DataLancamento = convertDate(extratoColunas[0].innerHTML);
            itemExtrato.Descricao = extratoColunas[1].innerHTML;
            itemExtrato.Valor = parseFloat(extratoColunas[2].innerHTML.replace(",", "."));
            itemExtrato.TipoLancamento = extratoColunas[3].innerHTML;

            return itemExtrato;
        };

        var getItemTitulo = function(element) {
            var tr = element.closest('tr');
            var cells = tr.children();

            var titulo = {};

            titulo.TituloId = cells[1].innerHTML == ""? null : cells[1].innerHTML ;
            titulo.TituloRecorrenteId = cells[2].innerHTML == ""? null : cells[2].innerHTML;
            titulo.Descricao = cells[3].innerHTML;
            titulo.Valor = parseFloat(cells[4].innerHTML.replace(',', '.'));
            titulo.Direcao = cells[5].innerHTML;
            titulo.DataVencimento = cells[6].innerHTML.substring(0, 10);
            titulo.Acrescimos = 0;

            return titulo;
        }

        //Titulos Vinculados
        var limpaTitulosVinculados = function () {
            extratoElement.find('#titulosVinculados > tbody').remove();
        }

        var setTitulosVinculados = function (titulos, operacao) {
            var table = extratoElement.find("#titulosVinculados");
            limpaTitulosVinculados();

            for (var i = 0; i < titulos.length; i++) {
                var tr = document.createElement('tr');
                var td;
                var titulo = titulos[i];

                var tdOperacao = document.createElement('td');
                tdOperacao.innerHTML = operacao;
                tr.appendChild(tdOperacao);
                
                for (var prop in titulo) {
                    td = document.createElement('td');
                    td.innerHTML = titulo[prop];
                    tr.appendChild(td);
                }
                table.append(tr);
            }
        }

        //Titulos selecionados
        var setTitulosSelecionados = function () {
            var inputs = $('#titulosAVincularLista').find('input:checkbox');
            
            $.each(inputs, function (input) {
                var titulo = getItemTitulo($(inputs[input]));                
                var isSelected = isTituloSelected(titulo);                
                var isRecorrenteSelected = isTituloRecorrenteSelected(titulo);
                var tituloExists = task.titulosSelecionados.some(ts => (ts.TituloId == titulo.TituloId) && ts.TituloId != null);
                var tituloRecorrenteExists = task.titulosSelecionados.some(ts => (ts.TituloRecorrenteId == titulo.TituloRecorrenteId) && ts.DataVencimento == titulo.DataVencimento);
                
                if (!tituloExists && isSelected) {
                    $(inputs[input]).prop('disabled', true);
                }

                if (!tituloRecorrenteExists && isRecorrenteSelected) {
                    $(inputs[input]).prop('disabled', true);
                }
                
                task.titulosSelecionados.forEach(function (t) {

                    var acrescimoInput = $(inputs[input]).closest('tr').find('input[name="acrescimos"]');
                    
                    if (t.TituloId == titulo.TituloId && titulo.TituloRecorrenteId == null) {
                        acrescimoInput.val(t.Acrescimos);
                        acrescimoInput.prop('disabled', false);
                        $(inputs[input]).prop('checked', true);
                    }

                    if(t.TituloRecorrenteId == titulo.TituloRecorrenteId && titulo.TituloId == null && t.DataVencimento == titulo.DataVencimento){
                        acrescimoInput.val(t.Acrescimos);
                        acrescimoInput.prop('disabled', false);
                        $(inputs[input]).prop('checked', true);
                    }

                });
            });

        }

        var conciliarTitulos = function () {

            var titulosAConciliar = {};
            titulosAConciliar.extrato = task.itemExtrato;
            titulosAConciliar.titulos = task.titulosSelecionados;

            $.ajax({
                type: "POST",
                url: "@Url.Action("ConcilarTitulos")",
                data: {
                    titulosAConciliar: JSON.stringify(titulosAConciliar)
                },
                success: function(response) {
                    var titulos = JSON.parse(JSON.parse(response)).titulos;
                    setTitulosVinculados(titulos, 'vinculo');
                    dialog.dialog("close");
                },
                error: function(error) {
                    console.log(error);
                }
            });

        }

        var dialog = $("#dialog-form").dialog({
            autoOpen: false,
            height: 700,
            width: 1000,
            modal: true,
            buttons: {
                Ok: {
                    text: "Vincular",
                    id: "vincular",
                    click: function() {
                        conciliarTitulos();
                        if(task.isNew) tasks.push(task);
                        dialog.dialog("close");
                    }
                },
                Cancel: {
                    text: "Cancelar",
                    id: "Cancelar",
                    click: function(){
                        dialog.dialog("close")
                    }
                }
            },
            open: function () {
                initEvents();
            },
            close: function () {
                $("#dialog-form").off('click', 'input:checkbox');
                $('input').off('change input'); 
            }
        });

        var cadastroTituloDialog = $("#cadastroTituloDialog").dialog({
            autoOpen: false,
            height: 700,
            width: 1000,
            modal: true,
            buttons: {
                Ok: {
                    text: "Gravar",
                    id: "gravar",
                    click: function() {
                    }
                },
                Cancel: {
                    text: "Cancelar",
                    id: "Cancelar",
                    click: function(){
                        cadastroTituloDialog.dialog("close")
                    }
                }
            },
            open: function () {
                
            },
            close: function () {

            }
        });


        var getTitulosPendentes = function() {

            var dataInicial = $('#dataInicial').val();
            var dataFinal = $('#dataFinal').val();

            var dI = dataInicial.substring(8, 10) + '/' + dataInicial.substring(5, 7) + '/' + dataInicial.substring(0, 4);
            var dF = dataFinal.substring(8, 10) + '/' + dataFinal.substring(5, 7) + '/' + dataFinal.substring(0, 4);

            $.ajax({
                type: "GET",
                data: {
                    tituloAConciliar: JSON.stringify(task.itemExtrato),
                    dataInicial: dI,
                    dataFinal: dF
                },
                url: "@Url.Action("VinculoTitulos")",
                success: function (data) {
                    $("#painel-periodo>table").remove();
                    $("#painel-periodo").append(data);
                    setTitulosSelecionados();
                },
                error: function(error) {
                    console.log(error);
                }
            });

        }

        var findTask = function (itemExtratoId) {
            var t;
            for (var i = 0; i < tasks.length; i++) {
                if (tasks[i].itemExtratoId == itemExtratoId) {
                    t = tasks[i];
                    tasks[i].isNew = false;
                }

            };
            return t;
        }

        var findTitulo = function(titulo){            
            var titulosSelecionados = task.titulosSelecionados;

            for(var i = 0; i < titulosSelecionados.length; i++){
                if(titulosSelecionados[i].TituloId == titulo.TituloId && titulosSelecionados[i].TituloId != null){
                    return titulosSelecionados[i];
                    
                }
                
                if(titulosSelecionados[i].TituloRecorrenteId == titulo.TituloRecorrenteId && titulosSelecionados[i].DataVencimento == titulo.DataVencimento){
                    return titulosSelecionados[i]
                }


            }
            return titulo;
        }

        var getItemTituloSelecionado = function(e){
            var itemAtual = getItemTitulo(e);
            var taskTitulo = findTitulo(itemAtual);  

            if(taskTitulo && taskTitulo.TituloId == itemAtual.TituloId){
                return taskTitulo;
            }else{
                return itemAtual;
            }
            
        }

        var isTituloSelected = function(titulo){
            for(var i = 0; i < tasks.length; i++){
                var titulos = tasks[i].titulosSelecionados;
                for(var j = 0; j < titulos.length; j++){                    
                    
                    if(titulos[j].TituloId == titulo.TituloId && titulos[j].TituloId != null){
                        return true;

                    }
                }
            }
            return false;
        }

        var isTituloRecorrenteSelected = function(tituloRecorrente){
            for(var i = 0; i < tasks.length; i++){
                var titulos = tasks[i].titulosSelecionados;
                
                for(var j = 0; j < titulos.length; j++){
                    if((titulos[j].TituloRecorrenteId == tituloRecorrente.TituloRecorrenteId 
                        && titulos[j].TituloRecorrenteId != null) 
                        && (titulos[j].DataVencimento == tituloRecorrente.DataVencimento)){
                        return true;
                    }

                }                    
            }
            return false;
        }

        //Eventos
        var initEvents = function () {
            
            var update = function(e){
                var titulo = getItemTituloSelecionado(e);
                var getAcrescimo = () => parseFloat(e.val().replace(',', '.'));
                titulo.Acrescimos = getAcrescimo();
                updateModal();  
            };

            $('#dialog-form').on('input change', 'input[name="acrescimos"]', function(e){
                var titulo = getItemTituloSelecionado($(this));                
                var getAcrescimo = () => parseFloat($(this).val().replace(',', '.'));                
                titulo.Acrescimos = getAcrescimo();
                updateModal();  
            });

            $("#dialog-form").on('click', 'input:checkbox', function (e) {                
                var titulo = getItemTituloSelecionado($(this));
                var acrescimoInput = $(this).closest('tr').find('input[name="acrescimos"]');

                if ($(this).prop('checked')) {
                    acrescimoInput.prop('disabled', false);
                    task.vincularTitulo(titulo);
                } else {
                    acrescimoInput.prop('disabled', true);
                    acrescimoInput.val('');                    
                    task.desvincularTitulo(titulo);
                }
                updateModal();

            });

        }

        $('.adicionarTitulo').click(function(){
            cadastroTituloDialog.dialog('open');
        });

        $(".vincularTitulos").click(function () {

            itemExtratoId = $(this).attr("data-botaoid");

            extratoElement = $("[data-extratoId=" + itemExtratoId + "]");
            itemExtrato = getItemExtrato(itemExtratoId);

            task = findTask(itemExtratoId)? findTask(itemExtratoId) : new Task(itemExtratoId, itemExtrato);
            titulosSelecionadoskUndo = JSON.stringify(task.titulosSelecionados);

            teste = tasks;

            $("#dataInicial").val(Utils.primeiroDiaMes(itemExtrato.DataLancamento, 'MDY'));
            $("#dataFinal").val(Utils.ultimoDiaMes(itemExtrato.DataLancamento, 'MDY'));

            dialog.dialog("open");
            updateModal();

            $("#valorExtrato").html(task.itemExtrato.Valor);

            consultarPeriodo(getTitulosPendentes);


            
        });
    }());


</script>


<style>
    
    .item-extrato {
        border: 1px solid grey;
        box-shadow: 5px 5px 30px grey;
        padding-bottom: 20px;
    }
   
     .extrato-table, #titulosVinculados{
         border: 1px solid;
         margin-top: 10px;
         margin-bottom: 20px;
         margin-left: 60px;
         table-layout: fixed;
         width: 80%;
         font-size: 12px;
     }

    .extrato-table > tbody > tr > td {
        width: 200px;
    }

    .extrato-table > thead {
        background-color: lightgray;
        border: 1px solid grey;
        width: 100px;
        z-index: 0;
    }

    .extrato-table > thead > th {
        border: 1px solid black;
        margin: 100px;
    }

    .dialog {
        width: 100%;
    }
    
    #dialog-form > table {
        border: 1px solid;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 60px;
        table-layout: fixed;
        font-size: 13px;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }

    /*Painel pariodo*/
    #painel-periodo {        
        height: 0;
        font-size: 12px;
        width: 70%;
        height: 40px;
        background: grey;
        float: left;
        margin-left: 10%;
    }
    #painel-periodo .panel {
        margin-bottom: 3px;
        border-radius: 0;
        height: auto;
        border: 1px solid black
    }

    #painel-periodo .panel-body {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    #painel-periodo .panel-heading {
        margin-bottom: 3px;
        border-radius: 0;
        padding-top: 3px;
        padding-bottom: 3px;
    }

     #titulosAVincularLista {         
         float: left;
         border-left: 1px solid black;
         border-right: 1px solid black;
         border-bottom: 1px solid black;
         border-top: 0;
         /*width: 703px;*/
         width: 703px;         
         margin-left: -15px;
         margin-top: -2px;
    }

    /*Lista de titulos já vinculados*/
    #titulosVinculados > thead > tr > th{
        width: auto;
        font-family: 8px;
    }

    
    #titulosVinculados > tbody > tr > td {
        width: 100%;
    }

    #titulosVinculados td {
        
    }


</style>
