@{
    ViewBag.Title = "Vinculo de Titulos";
}

@using AgilusFinan.Domain.Entities
@model AgilusFinan.Web.Controllers.ItemVinculoBanco
<h2>Vinculo Extrato/Titulos</h2>

@{
    var extratoId = 0;
}

<div id="dialog-form" class="dialog" title="Vincular títulos">
    <table id="titulosAVincularLista">
        @foreach (var titulo in Model.TitulosPendentes)
        {
            <tr>
                <td><input type="checkbox" name="name" value=" " /></td>
                <td>@titulo.TituloId</td>
                <td>@titulo.Descricao</td>
                <td>@titulo.Valor </td>
                <td>@titulo.Direcao</td>
                <td>@titulo.DataVencimento</td>
            </tr>
        }
    </table>

    <input class="btn btn-default modal" value="Vincular" />

</div>

<div class="item-vinculo">
    @foreach (var vinculo in Model.Extrato)
    {
        <div class="list-group item-extrato">
            <table class="extrato-table">
                <thead>
                <tr>
                    <th>Data Lancamento</th>
                    <th>Descricao</th>
                    <th>Valor</th>
                    <th>Tipo de lançamento</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>@vinculo.DataLancamento</td>
                    <td>@vinculo.Descricao</td>
                    <td>@vinculo.Valor</td>
                    <td>@vinculo.TipoLancamento</td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-default modal-button">Buscar titulos</button>
            
           
        </div>
        {
            extratoId = extratoId + 1;
        }

    }
</div>


<script>
    var test;

    var modalController = (function() {

        var clickedItem;
        var titulosVinculados = {};

        var getItemExtrato = function () {
            var itemExtrato = {};
            var extratoItemElemenet = clickedItem.parent();
            var extratoTableHeader = extratoItemElemenet.find("table > thead > tr > th");
            var extratoTableRows = extratoItemElemenet.find("table > tbody > tr");

            $.each(extratoTableRows, function (r) {
                var extratoTableCells = extratoTableRows.find('td');

                $.each(extratoTableCells, function(c) {
                    itemExtrato[extratoTableHeader[c].innerHTML] = extratoTableCells[c].innerHTML;
                });

            });
            titulosVinculados.itemExtrato = itemExtrato;
        };

        var getTitulosSelecionados = function() {
            //var titulosRows = $("#dialog-form").find("table > tbody > tr");
            var selectedCheckbox = $("#titulosAVincularLista > tbody > tr > td > input:checked");
            var titulosSelectionados = [];

            console.log(selectedCheckbox);

            $.each(selectedCheckbox, function (r) {
                var titulosCells = $(selectedCheckbox[r]).parent().parent().find('td');
                titulosSelectionados.push(titulosCells[1].innerHTML);
            });
            console.log(titulosSelectionados);

            titulosVinculados.titulos = titulosSelectionados;
        }

        var sendRequest = function() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ConcilarTitulos")",
                data: {
                    titulosAConciliar: JSON.stringify(titulosVinculados)
                },
                success: function(response) {
                    console.log($.parseJSON(JSON.parse(response)));
                    dialog.dialog("close");
                },
                error: function(error) {
                    console.log(error);
                }
            });
        };

        var dialog = $("#dialog-form").dialog({
            autoOpen: false,
            height: 700,
            width: 1000,
            modal: true,
            buttons: {
                Ok: {
                    text: "Vincular",
                    id: "vincular",
                    click: function() {
                        getTitulosSelecionados();
                        sendRequest();
                        dialog.dialog("close");
                    }
                },
                Cancel: function () {
                    dialog.dialog("close");
                }
            },
            close: function () {
                //form[0].reset();
                //allFields.removeClass("ui-state-error");
            }
        });

        $(".modal-button").click(function () {
            clickedItem = $(this);
            getItemExtrato();
            dialog.dialog("open");
        });



    }());


</script>


<style>
    .dialog {
        width: 100%;
    }
   
     .extrato-table {
         border: 1px solid;
         margin-top: 10px;
         margin-bottom: 10px;
         margin-left: 60px;
         table-layout: fixed;
         width: 80%;
         font-size: 12px;
     }

    .extrato-table > tbody > tr >td {
        width: 200px;
    }

    .extrato-table > thead {
        background-color: lightgray;
        border: 1px solid grey;
        width: 100px;
        z-index: 0;
    }

    .extrato-table > thead > th {
        border: 1px solid black;
        width: 100px;
    }

    .item-extrato {
        margin-left: 100px;
        border: 1px solid black;
        box-shadow: 5px 5px 5px grey;
        width: 80%;
    }

    .item-linha-extrato {
        top: 30px;
        margin-left: 20%;
        margin-right: 40px;
        background-color: grey;
        margin-left: 30px;
        text-align: center;
    }

    .item-titulos {
        margin-left: 40px;
        top: 10px;
        bottom: 20px;
    }

</style>
