@model IEnumerable<AgilusFinan.Domain.Entities.Titulo>

<table class="table" id="sorted">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.DataVencimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                Categoria
            </th>
            <th>
                Conta
            </th>
            <th>
                Pessoa
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                Pago?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @if(item.Id == 0)
                    {
                        <span class="label label-danger">R</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataVencimento.GetDateTimeFormats()[0])
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conta.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pessoa.Nome)
                </td>
                <td align="right">
                    @item.Valor.ToString("#,##0.00")
                </td>
                <td>
                    @if (item.Liquidado == "Pago")
                    {
                        <span class="label label-success">@Html.DisplayFor(modelItem => item.Liquidado)</span>
                    }
                    @if (item.Liquidado == "Parcialmente")
                    {
                        <span class="label label-warning">@Html.DisplayFor(modelItem => item.Liquidado)</span>
                    }
                    @if (item.Liquidado == "Não Pago" && item.DataVencimento <= DateTime.Today)
                    {
                        <span class="label label-danger">@Html.DisplayFor(modelItem => item.Liquidado)</span>
                    }
                    @if (item.Liquidado == "Não Pago" && item.DataVencimento > DateTime.Today)
                    {
                        <span class="label label-primary">@Html.DisplayFor(modelItem => item.Liquidado)</span>
                    }
                </td>
                <td style="width: auto">
                    <div class="btn-group" role="group">
                        @if (item.Id != 0)
                        {
                            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-circle fa fa-edit", @title = "Alterar" })
                            @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-warning btn-circle fa fa-trash-o", @title = "Excluir" })
                        }

                        @if (item.Liquidado != "Pago" && item.Liquidado != "Parcialmente")
                        {
                            if (item.Id != 0)
                            {
                                @Html.ActionLink(" ", "LiquidarDiretamente", new { id = item.Id}, new { @class = "btn btn-primary btn-circle fa fa-money", @title = "Liquidar Diretamente" })
                            }
                            else
                            {
                                @Html.ActionLink(" ", "../TituloPendente/LiquidarDiretamente", new { dataVencimento = item.DataVencimento, tituloRecorrenteId = item.TituloRecorrenteId}, new { @class = "btn btn-primary btn-circle fa fa-money", @title = "Liquidar Diretamente" })
                            }
                        }
                        
                        @if (item.Liquidado != "Pago")
                        {
                            if (item.Id != 0)
                            {
                                @Html.ActionLink(" ", "Liquidar", new { id = item.Id}, new { @class = "btn btn-success btn-circle fa fa-money", @title = "Liquidar Detalhado" })
                            }
                            else
                            {
                                @Html.ActionLink(" ", "../TituloPendente/Liquidar", new { dataVencimento = item.DataVencimento, tituloRecorrenteId = item.TituloRecorrenteId}, new { @class = "btn btn-success btn-circle fa fa-money", @title = "Liquidar Detalhado" })
                            }
                        }
                        @if (ViewBag.TipoTitulo == "Recebimento")
                        {
                            <div class="btn-group">
                                @{ var modelos = ((List<AgilusFinan.Domain.Entities.ModeloBoleto>)ViewBag.ModelosBoleto).Where(c => c.ContaId == item.ContaId); }
                                @if (modelos.Count() == 1)
                                {
                                    if (item.Id != 0)
                                    {
                                        @Html.ActionLink(" ", "GerarBoleto", new { tituloId = item.Id, ModeloBoletoId = modelos.First().Id }, new { @class = "btn btn-primary btn-circle fa fa-barcode" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink(" ", "../TituloPendente/GerarBoleto", new { TituloRecorrenteId = item.TituloRecorrenteId, valor = item.Valor, dataVencimento = item.DataVencimento, modeloBoletoId = modelos.First().Id }, new { @class = "btn btn-primary btn-circle fa fa-barcode" })
                                    }
                                }
                                else
                                {
                                    <a href="#" class="dropdown-toggle btn btn-primary btn-circle fa fa-barcode" data-toggle="dropdown"></a>
                                    <ul class="dropdown-menu">
                                        @foreach (var modelo in modelos)
                                        {
                                            if (item.Id != 0)
                                            {
                                                <li>@Html.ActionLink((string)modelo.Nome, "GerarBoleto", new { tituloId = item.Id, ModeloBoletoId = modelo.Id })</li>
                                            }
                                            else
                                            {
                                                <li>@Html.ActionLink((string)modelo.Nome, "../TituloPendente/GerarBoleto", new { TituloRecorrenteId = item.TituloRecorrenteId, valor = item.Valor, dataVencimento = item.DataVencimento, modeloBoletoId = modelos.First().Id })</li>
                                            }
                                        }
                                    </ul>
                                }
                            </div>
                        }
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    Utils.initializeDataTables('#sorted');
</script>
