@model IEnumerable<AgilusFinan.Domain.Entities.Titulo>
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.TipoTitulo</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataVencimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            Categoria
        </th>
        <th>
            Conta
        </th>
        <th>
            Pessoa
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            Pago?
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataVencimento.GetDateTimeFormats()[0])
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conta.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pessoa.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @if (item.Liquidado == "Pago")
            {
                <span class="label label-success">@Html.DisplayFor(modelItem => item.Liquidado)</span>
            }
            @if (item.Liquidado == "Parcialmente")
            {
                <span class="label label-warning">@Html.DisplayFor(modelItem => item.Liquidado)</span>
            }
            @if (item.Liquidado == "Não Pago" && item.DataVencimento <= DateTime.Today)
            {
                <span class="label label-danger">@Html.DisplayFor(modelItem => item.Liquidado)</span>
            }
            @if (item.Liquidado == "Não Pago" && item.DataVencimento > DateTime.Today)
            {
                <span class="label label-primary">@Html.DisplayFor(modelItem => item.Liquidado)</span>
            }
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id }) 
            @if (item.Liquidado != "Pago") 
            {
                <span>|</span> @Html.ActionLink("Liquidar", "Liquidar", new { id = item.Id }); 
            }
        </td>
    </tr>
}

</table>
