@model AgilusFinan.Web.ViewModels.TituloViewModel

@{
    ViewBag.Title = "Liquidar";
}



<h2>Liquidar</h2>
<div class="container">
    <h4> Informações do Titulo</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Data de Vencimento</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(item => Model.Descricao)</td>
                <td>@Html.DisplayFor(item => Model.DataVencimento.GetDateTimeFormats()[0])</td>
                <td>@Html.DisplayFor(item => Model.Valor)</td>
            </tr>
        </tbody>

    </table>

    @Html.Partial("~/Views/Titulo/_Liquidacao.cshtml", Model.Liquidacoes)
</div>
<div class="col-md-2">
    <button class="btn btn-default" onclick="UpdateTitulo();">Gravar</button>
</div>
<script>
    var titulo = JSON.parse('@Html.Raw(Json.Encode(Model))');
    function UpdateTitulo() {
        var tituloJson = getData();
        $.ajax({
            type: "POST",
            url: '/@(ViewBag.TipoTitulo)/Liquidar',
            data: { "postedData": tituloJson },
            success: function () {
                window.location = '@Url.Action("Index", ViewBag.TipoTitulo)';
            }
        });
    }

    function getData()
    {
        
        delete titulo.Conta;
        delete titulo.Categoria;
        delete titulo.Pessoa;
        delete titulo.CentroCusto;
        var datavencimento = titulo.DataVencimento.substring(6, titulo.DataVencimento.length - 2);
        console.log(datavencimento);

        titulo.DataVencimento = datavencimento.toISOString().substring(0, 10);
        titulo.Liquidacoes = tabLiquidacoes.data;

        return JSON.stringify(titulo);
    }
</script>
