@model IEnumerable<AgilusFinan.Domain.Entities.Categoria>

@{
    ViewBag.Title = "Categoria";
}

<h2>Categoria</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.ListaCategoria)
    {
        <tr>
            <td>
                @item.Value
            </td>
            <td>
                @{
                    int cor = Model.Where(x => x.Id == item.Key).ToList().First().Cor;
                }
                <div id="selectedcolor" style="background-color: #@cor.ToString("X"); width: 100px; height: 20px;"></div>
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {id = item.Key}) |
                @Html.ActionLink("Excluir", "Delete", new {id = item.Key}) |
                <button class="inserir">Inserir</button>
            </td>
        </tr>
        
    }

</table>

<script>
    $(function() {

        $(".inserir").click(function() {
            var $botao = $(this);

            $.get("@Url.Action("Teste")", function(data) {
                $($botao).closest("tr").after(data);
            });
        });
    });
    
</script>
