@using AgilusFinan.Domain.Entities
@model IEnumerable<AgilusFinan.Domain.Entities.Categoria>
<link href="~/Scripts/jquerysctipttop.css" rel="stylesheet" />
<link href="~/Scripts/bootstrap-treefy.css" rel="stylesheet" />
<link href="~/Scripts/font-awesome.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-treefy.js"></script>
@{
    ViewBag.Title = "Categoria";
}

<h2>Categoria</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table" id="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cor)
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.ListaIdentada)
{
    int Id = Model.Where(x => x.Id == item.Key).First().Id;
    int? PaiId = Model.Where(x => x.Id == item.Key).First().CategoriaPaiId;
    
    <tr data-node="treetable-@Id" data-pnode="treetable-parent-@PaiId">
        <td>
            @item.Value
        </td>
        <td>
            @{
                int cor = Model.Where(x => x.Id == item.Key).First().Cor;
            }
            <div id="selectedcolor" style="background-color: #@cor.ToString("X").PadLeft(6,'0'); width: 100px; height: 20px;"></div>
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.Key }) |
            @Html.ActionLink("Excluir", "Delete", new {id = item.Key}) |
            @Html.ActionLink("Incluir Filha", "CreateFilha", new { CategoriaPaiId = item.Key, direcao = Model.Where(x => x.Id  == item.Key).First().Direcao}) 

        </td>
    </tr>
}

</table>

<script>
    $(function () {
        $("#table").treeFy({

            // Custom template
            expanderTemplate: '<span class="treetable-expander"></span>',
            indentTemplate: '<span class="treetable-indent"></span>',

            // CSS classes for expander
            expanderExpandedClass: 'fa fa-angle-down',
            expanderCollapsedClass: 'fa fa-angle-right',

            // Index of the column which expander should be added to.
            treeColumn: 0,

            //enabled or disabled the click
            enableClick: false,

            // Initial CSS class
            initStatusClass: 'treetable-expanded'

        });

    });
</script>
