@using AgilusFinan.Domain.Entities
@using AgilusFinan.Web.Bases;
@model IEnumerable<AgilusFinan.Domain.Entities.Categoria>
<link href="~/Content/jquerysctipttop.css" rel="stylesheet" />
<link href="~/Content/bootstrap-treefy.css" rel="stylesheet" />
@Styles.Render("~/font-awesome/css")
<script src="~/Scripts/bootstrap-treefy.js"></script>
@{
    ViewBag.Title = "Categoria";
}

<h2>Categorias</h2>
<br />
<p>
    <a href="@Url.Action("Create")" class="btn btn-primary btn-outline"><i class="fa fa-plus"></i><span> Incluir</span></a>
</p>
<br />

<table class="table" id="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.ListaIdentada)
{
    int? PaiId = Model.Where(x => x.Id == item.Key).First().CategoriaPaiId;
    
    <tr data-node="treetable-@item.Key" data-pnode="treetable-parent-@PaiId">
        <td>
            @{
                int cor = Model.Where(x => x.Id == item.Key).First().Cor;
                string corContrastante = Util.CorContrastante(System.Drawing.Color.FromArgb(cor)).ToArgb().ToString("X").Substring(2,6);
            }
            <div id="selectedcolor" class="label" style="background-color: #@cor.ToString("X").PadLeft(6,'0'); color: #@corContrastante; ">@item.Value</div>
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.Key }, new { @class = "btn btn-primary btn-circle dim fa fa-pencil", @title = "Alterar" })
            @Html.ActionLink(" ", "Delete", new { id = item.Key }, new { @class = "btn btn-warning btn-circle dim fa fa-trash-o", @title = "Excluir" })
            @Html.ActionLink(" ", "CreateFilha", new { CategoriaPaiId = item.Key, direcao = Model.Where(x => x.Id == item.Key).First().Direcao }, new { @class = "btn btn-primary btn-circle dim fa fa-level-down", @title = "Incluir Filha" }) 

        </td>
    </tr>
}

</table>

<script>
    $(function () {
        $("#table").treeFy({

            // Custom template
            expanderTemplate: '<span class="treetable-expander"></span>',
            indentTemplate: '<span class="treetable-indent"></span>',

            // CSS classes for expander
            expanderExpandedClass: 'fa fa-angle-down',
            expanderCollapsedClass: 'fa fa-angle-right',

            // Index of the column which expander should be added to.
            treeColumn: 0,

            //enabled or disabled the click
            enableClick: false,

            // Initial CSS class
            initStatusClass: 'treetable-expanded'

        });

    });
</script>
