@model List<AgilusFinan.Domain.Entities.LoteBoleto>
@{
    Layout = null;
}

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th><input type="checkbox" id="check" checked /></th>
            <th>Pessoa</th>
            <th>Valor</th>
            <th>Data de Vencimento</th>
            <th>E-mail Destinatário</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><input class="checkbox" id="item_Boleto" name="item.Boleto" type="checkbox" @(item.Boleto ? "checked" : "")/></td>
                <td>@item.NomePessoa</td>
                @if (item.Valor == 0)
                {
                    <td> @Html.EditorFor(m => item.Valor, new { htmlAttributes = new { @class = "form-control", @style = "width: 40%" } }) </td>
                }
                else
                {
                    <td>@item.Valor.ToString("C")</td>
                }
                <td>@item.DataVencimento.GetDateTimeFormats()[0]</td>
                <td>@Html.EditorFor(m => item.EmailDestinatario, new { htmlAttributes = new { @class = "form-control" }}) </td>
                <td style="display:none;">@item.TituloId</td>
                <td style ="display:none;">@item.TituloRecorrenteId</td>
                <td style="display:none;">@item.ModeloBoletoId</td>
                <td class="clear"></td>

</tr>
        }
    </tbody>
</table>

<form action="/LoteBoleto/BaixarBoletos" method="post" id="FormBaixarBoletos">
    <input type="hidden" name="postedData" id="dadosBaixarBoletos" />
</form>

<button class="btn btn-default" id="enviar"><span class="glyphicon glyphicon-envelope" aria-hiddden="true"></span> Enviar</button>

<button class="btn btn-default" id="Baixar" onclick="BaixarBoletos()"><span class="glyphicon glyphicon-save" aria-hiddden="true"></span> Baixar</button>

<div class="progress">
    <div id="progressbar" class="progress-bar progress-bar-success" role="progressbar">
        <img src="~/Content/Images/ellipsis.gif" height="20" />
    </div>
</div>



<script>
    var inputValor = document.getElementById("item_Valor");
    if (inputValor) {
        Utils.createMask(inputValor, "moeda");
    }

    $(document).ready(function () {
        $('#check').change(function () {
            $('.checkbox').prop('checked', $(this).prop('checked'));
        });
    });

    $('#enviar').click(function () {
        $('.progress').toggle("slow");
        $('.label-success').toggle();
        GerarBoletos();
    });

    function GerarBoletos() {
        var boletos = GetData();
        var contador = 0;
        var tabletr = $("table input[id='item_Boleto']:checked").parent().parent();
        $.each(boletos, function (indice, boleto) {
            $.ajax({
                type: "POST",
                url: '/LoteBoleto/GerarBoleto',
                data: { "postedData": JSON.stringify(boleto) },
                success: function (msg) {
                    var pos = Math.round(++contador / boletos.length * 100);
                    $('#progressbar').attr("style", "width:" + pos + "%");
                    $('#progressbar').html(pos + "%");
                    if(msg == 'Enviado'){
                        $(tabletr[indice]).children()[8].innerHTML = '<label class="label label-success">'+msg+'</label>';
                    }
                    else{
                        $(tabletr[indice]).children()[8].innerHTML = '<label class="label label-danger">'+msg+'</label>';
                    }
                    if (contador == boletos.length) {
                        $('.progress').delay(1000).fadeToggle(500, () => $('#progressbar').attr("style", "width: 0%").html('<img src="../Content/Images/ellipsis.gif" height="20"/>'));
                    }
                }
            });
        });
    }

    function BaixarBoletos() {
        var boletosJson = JSON.stringify(GetData());
        $('#dadosBaixarBoletos').val(boletosJson);
        $('#FormBaixarBoletos').submit();
    }

    function GetData() {
        var tabletr = $("table input[id='item_Boleto']:checked").parent().parent();
        titulos = [];
        tabletr.each(function (i) {
            var titulo = {};
            var $tds = $(this).children();

            titulo.Boleto = $tds.eq(0).children().is(":checked");
            titulo.NomePessoa = $tds.eq(1).text();
            if ($tds.eq(2).children().length) {
                titulo.Valor = $tds.eq(2).children().val().replace('.', '').replace(',', '.');
            }
            else {
                titulo.Valor = $tds.eq(2).text().split(' ')[1].replace('.', '').replace(',', '.');
            }
            titulo.DataVencimento = Utils.convertFormatDate($($tds.eq(3)).text());
            titulo.EmailDestinatario = $tds.eq(4).children().val();
            titulo.TituloId = $tds.eq(5).text();
            titulo.TituloRecorrenteId = $tds.eq(6).text();
            titulo.ModeloBoletoId = $tds.eq(7).text();
            titulos.push(titulo);
        });
        return titulos;
    }



</script>
