@model IEnumerable<AgilusFinan.Domain.Entities.TituloRecorrente>

@{
    ViewBag.Title = "Títulos Recorrentes";
}

<h2>Títulos Recorrentes</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Categoria
        </th>
        <th>
            Pessoa
        </th>
        <th>
            Conta
        </th>
        <th>
            Nome
        </th>
        <th>
            Valor
        </th>
        <th>
            Recorrência
        </th>
        <th>
            Parcelas
        </th>
        <th>
            Ativo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pessoa.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conta.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recorrencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdeParcelas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
