@model AgilusFinan.Web.ViewModels.PerfilViewModel
<link href="~/Content/jquerysctipttop.css" rel="stylesheet" />
<link href="~/Content/bootstrap-treefy.css" rel="stylesheet" />
<link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-treefy.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <h4>Acessos para este perfil</h4>
        <div class="container">
            <table class="table table-striped table-bordered" style="width: 50%" id="table">
                <tr>
                    <th>Função</th>
                </tr>
                @foreach (var f in ViewBag.ListaFuncoes)
                {
                    List<AgilusFinan.Domain.Entities.Funcao> funcoes = ViewBag.Funcoes;
                    int? PaiId = funcoes.Where(x => x.Id == f.Key).First().FuncaoSuperiorId;
                    
                    <tr data-node="treetable-@(f.Key)" data-pnode="treetable-parent-@(PaiId)">
                        <td>
                            <input name="s@(f.Key)" id="s@(f.Key)" type="checkbox" class="Funcao" @(ViewBag.TipoOperacao == "Alterando" && Model.Acessos.Find(o => o.FuncaoId == f.Key).Selecionado ? "checked" : "") />&nbsp;@f.Value
                        </td>
                    </tr>
                }
            </table>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <span class="btn btn-primary" onclick="UpdatePerfil();">Gravar</span>
                <span class="btn btn-primary" onclick="UpdatePerfil(true);">Gravar e incluir um novo</span>
                @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-white" })
            </div>
        </div>
    </div>
}


<script>

    function UpdatePerfil(manterTela) {
        var teste = $.ajax({
            type: "POST",
            url: '/Perfil/@(ViewBag.TipoOperacao == "Incluindo" ? "Create" : "Edit")',
            data: { "postedData": JSON.stringify(getData())},
            success: function () {
                if (manterTela) {
                    window.location = '@Url.Action("Create", "Perfil")';
                }
                else {
                    window.location = '@Url.Action("Index", "Perfil")';
                }
            },
            error: window.location = ""
        });
    }

    function getData() {
        var inputs = document.getElementsByClassName("Funcao");
        var perfil = {
            Id: document.getElementById("Id").value,
            Descricao: document.getElementById("Descricao").value,
            Acessos: []
        };
        for (var contador = 0; contador < inputs.length; contador++) {
            if (inputs[contador].checked) {
                var acesso = {};
                acesso.FuncaoId = inputs[contador].id.replace('s', '');
                acesso.Descricao = document.getElementById(inputs[contador].id).innerHTML;
                acesso.Selecionado = true;
                perfil.Acessos.push(acesso);
            }

        };
        return perfil;
    }

    $(function () {
        $("#table").treeFy({

            // Custom template
            expanderTemplate: '<span class="treetable-expander"></span>',
            indentTemplate: '<span class="treetable-indent"></span>',

            // CSS classes for expander
            expanderExpandedClass: 'fa fa-angle-down',
            expanderCollapsedClass: 'fa fa-angle-right',

            // Index of the column which expander should be added to.
            treeColumn: 0,

            //enabled or disabled the click
            enableClick: true,

            // Initial CSS class
            initStatusClass: 'treetable-collapsed'

        });

    });
</script>
