@model IEnumerable<AgilusFinan.Domain.Entities.Perfil>

@{
    ViewBag.Title = "Perfis";
}

<h2>Perfis</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table" id="sorted">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.ActionLink("Alterar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    Utils.initializeDataTables('#sorted');
</script>

