@model AgilusFinan.Domain.Entities.Convite

@{
    ViewBag.Title = "Create";
}
<div class="ibox animated fadeInRight">
    <div class="ibox-title">
        <h2>Enviar Convite</h2>
    </div>
    <div class="ibox-content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PerfilId, "Perfil", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("PerfilId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PerfilId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Convidar usuário e sair" class="btn btn-primary" />
                        <input type="submit" value="Convidar e criar um novo convite" class="btn btn-primary" onclick="Utils.manterTela($('form'))" />
                        @Html.ActionLink("Cancelar", "Index", "Usuario", null, new { @class = "btn btn-warning" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>
