@model AgilusFinan.Web.ViewModels.PessoaViewModel

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Pessoa</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cpf, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rg, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rg, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rg, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataNascimento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContaBancaria, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ContaBancaria, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TiposPorPessoa, htmlAttributes: new {@class = "control-label col-md-2"})
            @foreach (var tipo in Model.TiposPorPessoa)
            {
                <div class="col-md-1">
                    @Html.LabelFor(model => model.TiposPorPessoa, tipo.Nome, htmlAttributes: new {@class = "control-label col-md-1"})
                    <input class="form-control" type="checkbox" @(tipo.Marcado ? "checked" : "")/>
                </div>
            }
        </div>

        <input class="btn btn-default" id="Adicionar" type="button" value="Adiciona Telefone"/>

        <table class="table">
            @foreach (var telefone in Model.Telefones)
            {

                <tr>
                    <td>
                        <label>Telefone: </label>
                        <input type="text" value="@(telefone.Ddd)" />
                    </td>
                    <td>
                        <input type="text" value="@(telefone.Numero)" />
                        <label>Tipo telefone: </label>
                    </td>
                    <td>
                        <input type="text" value="@telefone.TipoTelefoneId" />
                    </td>
                </tr>
            }
        </table>

                

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>

    $("#Adicionar").click(function() {
        $(".table").append('<tr><td><label>Telefone: </label><input type="text" /></td><td><input type="text" /><label>Tipo telefone: </label></td><td><input type="text"/></td>'+
                           '<td><input type="submit" value="Salvar"/></td></tr>');
    });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

