@model IEnumerable<AgilusFinan.Domain.Entities.Pessoa>

@{
    ViewBag.Title = "Pessoas";
}

<h2>Pessoas</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table" id="sorted">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Tipo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>

                <td>
                    @{
            string s = String.Empty;
            int c = 1;

            foreach (var tp in item.TiposPessoa)
            {
                s += tp.TipoPessoa.Nome;

                if (item.TiposPessoa.Count > c)
                {
                    s += ", ";
                }
                c++;
            }
            @Html.DisplayFor(modelItem => s)
                    }
                </td>
                <td class="Cpf">
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td class="Rg">
                    @Html.DisplayFor(modelItem => item.Rg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento.GetDateTimeFormats()[0])
                </td>
                <td>
                    @Html.ActionLink("Alterar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    (function () {
        Utils.createMaskClass(document.getElementsByClassName("Cpf"), "cpf");
        Utils.createMaskClass(document.getElementsByClassName("Rg"), "rg");
    })();
    Utils.initializeDataTables('#sorted');
</script>