@model IEnumerable<AgilusFinan.Domain.Entities.Pessoa>

@{
    ViewBag.Title = "Pessoas";
}

<h2>Pessoas</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td class="Cpf">
            @Html.DisplayFor(modelItem => item.Cpf)
        </td>
        <td class="Rg">
            @Html.DisplayFor(modelItem => item.Rg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento.GetDateTimeFormats()[0])
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<script>
    (function () {
        Utils.createMaskClass(document.getElementsByClassName("Cpf"), "cpf");
        Utils.createMaskClass(document.getElementsByClassName("Rg"), "rg");
    })();
</script>