@model IEnumerable<AgilusFinan.Domain.Entities.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Convidar usuário", "../Convite/Create")
</p>
<table class="table" id="sorted">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Perfil")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Perfil.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.Ativo)
                    {
                        <i class="fa fa-check text-navy"></i>
                    }
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-primary dim fa fa-edit" })
                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-primary dim fa fa-trash-o" })
                    
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    Utils.initializeDataTables('#sorted');
</script>

