@model AgilusFinan.Domain.Entities.Filtro

<div class="container">
    <form class="form-inline" role="form">
        
        @foreach (var item in Model.Parametros)
        {
            <div class="form-group">
                <label> @item.Label </label>
                @switch (item.Tipo)
                {
                    case AgilusFinan.Domain.Entities.TipoFiltro.texto:
                        <input type="text" data-grupo="filtro" data-filtro="@item.Nome" value="@item.Valor" class="form-control" />
                        break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.valor:
                        <input type="text" data-grupo="filtro" data-filtro="@item.Nome" value="@item.Valor" class="form-control" />
                        break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.monetario:
                        <input type="text" data-grupo="filtro" data-filtro="@item.Nome" value="@item.Valor" class="form-control" />
                        break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.data:
                        <input type="date" data-grupo="filtro" data-filtro="@item.Nome" value="@item.Valor.ToString("yyyy-MM-dd")" class="form-control" />
                        break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.conta:
                        <select class="form-control" data-grupo="filtro" data-filtro="@item.Nome">
                            <option> </option>
                            @foreach (var conta in ViewBag.Contas)
                            {
                                <option value="@conta.Id">@conta.Nome</option>
                            }
                        </select>
                            break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.banco:
                        <select class="form-control" data-grupo="filtro" data-filtro="@item.Nome">
                            <option> </option>
                            @foreach (var conta in ViewBag.Bancos)
                            {
                                <option value="@conta.Id">@conta.Nome</option>
                            }
                        </select>
                        break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.categoria:
                        <select class="form-control" data-grupo="filtro" data-filtro="@item.Nome">
                            <option> </option>
                            @foreach (var conta in ViewBag.Categorias)
                            {
                                <option value="@conta.Id">@conta.Nome</option>
                            }
                        </select>
                        break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.centrocusto:
                            <select class="form-control" data-grupo="filtro" data-filtro="@item.Nome">
                                <option> </option>
                                @foreach (var conta in ViewBag.Centroscusto)
                                {
                                    <option value="@conta.Id">@conta.Nome</option>
                                }
                            </select>
                            break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.perfil:
                        <select class="form-control" data-grupo="filtro" data-filtro="@item.Nome">
                            <option> </option>
                            @foreach (var conta in ViewBag.Perfis)
                            {
                                <option value="@conta.Id">@conta.Nome</option>
                            }
                        </select>
                        break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.pessoa:
                        <select class="form-control" data-grupo="filtro" data-filtro="@item.Nome">
                            <option> </option>
                            @foreach (var conta in ViewBag.Pessoas)
                            {
                                <option value="@conta.Id">@conta.Nome</option>
                            }
                        </select>
                        break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.tipopessoa:
                        <select class="form-control" data-grupo="filtro" data-filtro="@item.Nome">
                            <option> </option>
                            @foreach (var conta in ViewBag.TiposPessoa)
                            {
                                <option value="@conta.Id">@conta.Nome</option>
                            }
                        </select>
                        break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.tipotelefone:
                        <select class="form-control" data-grupo="filtro" data-filtro="@item.Nome">
                            <option> </option>
                            @foreach (var conta in ViewBag.TiposTelefone)
                            {
                                <option value="@conta.Id">@conta.Nome</option>
                            }
                        </select>
                        break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.usuario:
                        <select class="form-control" data-grupo="filtro" data-filtro="@item.Nome">
                            <option> </option>
                            @foreach (var conta in ViewBag.Usuarios)
                            {
                                <option value="@conta.Id">@conta.Nome</option>
                            }
                        </select>
                        break;
                    default:
                        break;
                }
            </div>
        }
        <div class="form-group">
            <button type="submit" formmethod="post" id="consulta" class="btn btn-default">Consultar</button>
        </div>
</form>
</div>
<br />
<div id="conteudo">

</div>

<script>

    $("#consulta").bind("click", function (e) {
        e.preventDefault();
        var parametros = [];
        var filtro = {};

        $('[data-grupo="filtro"]').each(function () {
            parametros.push({
                Nome: $(this).attr('data-filtro'),
                Valor: $(this).val()
            });
        });

        filtro.Parametros = parametros;

        var result = $.ajax({
            url: "@Url.Action("Consulta")",
            method: "POST",
            data: {
                jsonFiltros: JSON.stringify(filtro)
            },
            beforeSend: function () {
                $("#loading").html('<img src="/Content/Images/loading.gif">');
            },
            success: function (data) {
                $("#loading>img").remove();
                $('#conteudo').html(data);
            },
            error: function () {
                throw "Erro";
            }
        });

    });

</script>