@model AgilusFinan.Domain.Entities.Filtro

<div class="container">
    <form class="form-inline" role="form">
        @foreach (var item in Model.Parametros)
        {
            @item.Label
            switch (item.Tipo)
            {
                case AgilusFinan.Domain.Entities.TipoFiltro.texto:
                    <div class="form-group">
                        <input type="text" data-grupo="filtro" data-filtro="@item.Nome" value="@item.Valor" class="form-control" />
                    </div>
                    break;
                case AgilusFinan.Domain.Entities.TipoFiltro.valor:
                <div class="form-group">
                    <input type="text" data-grupo="filtro" data-filtro="@item.Nome" value="@item.Valor" class="form-control" />
                </div>
                    break;
                case AgilusFinan.Domain.Entities.TipoFiltro.monetario:
                <div class="form-group">
                    <input type="text" data-grupo="filtro" data-filtro="@item.Nome" value="@item.Valor" class="form-control" />
                </div>
                    break;
                case AgilusFinan.Domain.Entities.TipoFiltro.data:
                <div class="form-group">
                    <input type="date" data-grupo="filtro" data-filtro="@item.Nome" value="@item.Valor.ToString("yyyy-MM-dd")" class="form-control" />
                </div>
                    break;
                case AgilusFinan.Domain.Entities.TipoFiltro.conta:
                <div class="form-group">
                    <select class="form-control" data-grupo="filtro" data-filtro="@item.Nome">
                        <option> </option>
                        @foreach (var conta in ViewBag.Contas)
                        {
                            <option value="@conta.Id">@conta.Nome</option>
                        }
                    </select>
                </div>
                        break;
                default:
                        break;
            }
        }

        <input type="submit" formmethod="post" id="consulta" value="Consultar" class="btn btn-default" />
    </form>

</div>
<br />
<div id="conteudo" class="container">

</div>

<script>

    $("#consulta").bind("click", function (e) {
        e.preventDefault();
        var parametros = [];
        var filtro = {};

        $('[data-grupo="filtro"]').each(function () {
            parametros.push({
                Nome: $(this).attr('data-filtro'),
                Valor: $(this).val()
            });
        });

        filtro.Parametros = parametros;

        var result = $.ajax({
            url: "@Url.Action("Consulta")",
            method: "POST",
            data: {
                jsonFiltros: JSON.stringify(filtro)
            },
            beforeSend: function () {
                $("#loading").html('<img src="/Content/Images/loading.gif">');
            },
            success: function (data) {
                $("#loading>img").remove();
                $('#conteudo').html(data);
            },
            error: function () {
                throw "Erro";
            }
        });

    });

</script>