@model AgilusFinan.Domain.Entities.Filtro
@using AgilusFinan.Infra.Services;
<div class="container">
    <form class="form-inline" role="form">
        
        @foreach (var item in Model.Parametros)
        {
            <div class="form-group">
                <label> @item.Label </label>
                @switch (item.Tipo)
                {
                    case AgilusFinan.Domain.Entities.TipoFiltro.texto:
                        <input type="text" data-grupo="filtro" data-filtro="@item.Nome" value="@item.Valor" class="form-control" />
                        break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.valor:
                        <input type="text" data-grupo="filtro" data-filtro="@item.Nome" value="@item.Valor" class="form-control" />
                        break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.monetario:
                        <input type="text" data-grupo="filtro" data-filtro="@item.Nome" value="@item.Valor" class="form-control" />
                        break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.data:
                        <input type="date" data-grupo="filtro" data-filtro="@item.Nome" value="@item.Valor.ToString("yyyy-MM-dd")" class="form-control" />
                        break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.conta:
                        <select class="form-control" data-grupo="filtro" data-filtro="@item.Nome">
                            <option> </option>
                            @foreach (var conta in new SelectLista(3, TipoLista.Conta).Listar())
                            {
                                <option value="@conta.Id" @( conta.Padrao == true ? "selected" : "" )>@conta.Nome</option>
                            }
                        </select>
                        break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.banco:
                        <select class="form-control" data-grupo="filtro" data-filtro="@item.Nome">
                            <option> </option>
                            @foreach (var banco in new SelectLista(3, TipoLista.Banco).Listar())
                            {
                                <option value="@banco.Id">@banco.Nome</option>
                            }
                        </select>
                        break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.categoria:
                        <select class="form-control" data-grupo="filtro" data-filtro="@item.Nome">
                            <option> </option>
                            @foreach (var categoria in new SelectLista(3, TipoLista.Categoria).Listar())
                            {
                                <option value="@categoria.Id">@categoria.Nome</option>
                            }
                        </select>
                        break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.centrocusto:
                            <select class="form-control" data-grupo="filtro" data-filtro="@item.Nome">
                                <option> </option>
                                @foreach (var centrocusto in new SelectLista(3, TipoLista.CentroCusto).Listar())
                                {
                                    <option value="@centrocusto.Id">@centrocusto.Nome</option>
                                }
                            </select>
                            break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.perfil:
                        <select class="form-control" data-grupo="filtro" data-filtro="@item.Nome">
                            <option> </option>
                            @foreach (var perfil in new SelectLista(3, TipoLista.Perfil).Listar())
                            {
                                <option value="@perfil.Id">@perfil.Nome</option>
                            }
                        </select>
                        break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.pessoa:
                        <select class="form-control" data-grupo="filtro" data-filtro="@item.Nome">
                            <option> </option>
                            @foreach (var pessoa in new SelectLista(3, TipoLista.Pessoa).Listar())
                            {
                                <option value="@pessoa.Id">@pessoa.Nome</option>
                            }
                        </select>
                        break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.tipopessoa:
                        <select class="form-control" data-grupo="filtro" data-filtro="@item.Nome">
                            <option> </option>
                            @foreach (var tipopessoa in new SelectLista(3, TipoLista.TipoPessoa).Listar())
                            {
                                <option value="@tipopessoa.Id">@tipopessoa.Nome</option>
                            }
                        </select>
                        break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.tipotelefone:
                        <select class="form-control" data-grupo="filtro" data-filtro="@item.Nome">
                            <option> </option>
                            @foreach (var tipotelefone in new SelectLista(3, TipoLista.TipoTelefone).Listar())
                            {
                                <option value="@tipotelefone.Id">@tipotelefone.Nome</option>
                            }
                        </select>
                        break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.usuario:
                        <select class="form-control" data-grupo="filtro" data-filtro="@item.Nome">
                            <option> </option>
                            @foreach (var usuario in new SelectLista(3, TipoLista.Usuario).Listar())
                            {
                                <option value="@usuario.Id">@usuario.Nome</option>
                            }
                        </select>
                        break;
                    case AgilusFinan.Domain.Entities.TipoFiltro.modeloboleto:
                        <select class="form-control" data-grupo="filtro" data-filtro="@item.Nome">
                            <option> </option>
                            @foreach (var modeloboleto in new SelectLista(3, TipoLista.ModeloBoleto).Listar())
                            {
                                <option value="@modeloboleto.Id">@modeloboleto.Conta.Nome</option>
                            }
                        </select>
                        break;
                    default:
                        break;
                }
            </div>
        }
        <div class="form-group">
            <br />
            <button type="submit" formmethod="post" id="consulta" class="btn btn-default">Consultar</button>
            <div style="float: right" id="loading"></div>
        </div>
</form>
</div>
<br />
<div id="conteudo">

</div>

<script src="~/Scripts/jsapi.js"></script>

<script>
    
    google.load('visualization', '1.0', { 'packages': ['corechart'] });

    $("#consulta").bind("click", function (e) {
        e.preventDefault();
        var parametros = [];
        var filtro = {};

        $('[data-grupo="filtro"]').each(function () {
            parametros.push({
                Nome: $(this).attr('data-filtro'),
                Valor: Utils.convertFormatDate($(this).val())
            });
        });

        filtro.Parametros = parametros;

        var result = $.ajax({
            url: "@Url.Action("Consulta")",
            method: "POST",
            data: {
                jsonFiltros: JSON.stringify(filtro)
            },
            beforeSend: function () {
                $("#loading").html('<img src="/Content/Images/loading.gif">');
            },
            success: function (data) {
                $("#loading>img").remove();
                $('#conteudo').html(data);
            },
            error: function () {
                throw "Erro";
            }
        });

    });

</script>