@using Inspinia_MVC5
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/png" sizes="32x32" href="~/Content/Images/icons/favicon-32x32.png">
        <title>@ViewBag.Title</title>

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <!-- Add local styles, mostly for plugins css file -->
        @if (IsSectionDefined("Styles"))
        {@RenderSection("Styles", required: false)
        }

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/css")
        @Styles.Render("~/font-awesome/css")
        @Scripts.Render("~/bundles/agilusLibrary")
        @Scripts.Render("~/bundles/datatables")
        @*Plugins*@
        @Styles.Render("~/plugins/toastrStyles")
        @Scripts.Render("~/plugins/toastr")
        @Styles.Render("~/plugins/select2Styles")
        @Scripts.Render("~/plugins/select2")
        @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
        @Scripts.Render("~/plugins/iCheck")
        @Styles.Render("~/plugins/dataPickerStyles")
        @Scripts.Render("~/plugins/dataPicker")

        <style>
            .select2-selection {
                border-radius: 0 !important;
                border: 1px solid #e5e6e7 !important;
                height: 34px !important;

            }
            .select2-selection:focus {
                border-color: #1ab394 !important;
                outline: none !important;
            }
            .select2-search__field{
                border-color: #1ab394 !important;
                outline: none !important;
            }
            .select2-results__option--highlighted{
                background-color: #1ab394 !important;
            }
        </style>
    </head>

    <body>

        <div id="wrapper" class="@Html.PageClass()">

            <!-- Navigation -->
            @Html.Partial("_Navigation")

            <!-- Page wraper -->
            <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

                <!-- Top Navbar -->
                @Html.Partial("_TopNavbar")

                <!-- Main view -->
                <div class="wrapper wrapper-content">
                    @RenderBody()
                </div>
                <!-- Footer -->
                @Html.Partial("_Footer")

            </div>
            <!-- End page wrapper-->
            <!-- Right Sidebar -->
            @Html.Partial("_RightSidebar")

        </div>
    </body>
</html>

<script>
    $(document).ready(function () {
        $('select').select2();
        $('input[type="checkbox"]').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        Utils.defineInputDatePicker(document.getElementsByClassName('inputdate'));

        $('.input-daterange').datepicker({
            forceParse: true,
            autoclose: true,
            language: 'pt-BR',
            format: "dd/mm/yyyy",
            todayHighlight: true,
            todayBtn: "linked",
            clearBtn: true
        });

        Utils.createMaskClass(document.getElementsByClassName('inputdate'), "data");
    });
</script>
@if (TempData["Alerta"] != null)
{
    <script>

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "progressBar": true,
            "preventDuplicates": false,
            "positionClass": "toast-top-right",
            "onclick": null,
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "7000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        @{var alerta = TempData["Alerta"] as AgilusFinan.Web.Bases.Alerta;}
        @*$.notify({ message: '@alerta.Mensagem' }, { type: '@alerta.Tipo' });*@
        toastr['success']('@alerta.Mensagem');
    </script>
}



@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/plugins/slimScroll")
@Scripts.Render("~/bundles/inspinia")
@Scripts.Render("~/bundles/skinConfig")

@RenderSection("scripts", required: false)

