<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/Images/icons/favicon-32x32.png">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/agilusLibrary")
</head>
<body>
    <br />

    @*<ul class="menu">
        <li>
            <a href="~/Home" class="navbar-brand">
                <img src="~/Content/Images/agilus.jpg" width="20" height="20" />
                AgilusFinan
            </a>
        </li>
        <li>
            Movimentações
            <ul>
                <li>@Html.ActionLink("Pagamento", "Index", "Pagamento")</li>
                <li>@Html.ActionLink("Recebimento", "Index", "Recebimento")</li>
                <li>@Html.ActionLink(" Transferência", "Index", "Transferencia")</li>
                <li>@Html.ActionLink("Titulo Recorrente", "Index", "TituloRecorrente")</li>
            </ul>
        </li>
        <li>
            Cadastros
            <ul>
                <li>@Html.ActionLink("Conta", "Index", "Conta")</li>
                <li>@Html.ActionLink("Banco", "Index", "Banco")</li>
                <li>@Html.ActionLink("Categoria", "Index", "Categoria")</li>
                <li>@Html.ActionLink("Centro de Custo", "Index", "CentroCusto")</li>
                <li>@Html.ActionLink("Tipo de Pessoa", "Index", "TipoPessoa")</li>
                <li>@Html.ActionLink("Pessoa", "Index", "Pessoa")</li>
                <li>@Html.ActionLink("Tipo de Telefone", "Index", "TipoTelefone")</li>
                <li>@Html.ActionLink("Feriados Regionais", "Index", "FeriadoRegional")</li>
            </ul>
        </li>
        <li>
            Segurança
            <ul>
                <li>@Html.ActionLink("Usuários", "Index", "Usuario")</li>
                <li>@Html.ActionLink("Perfil", "Index", "Perfil")</li>
            </ul>
        </li>
        <li>
            Relatórios
            <ul>
                <li>@Html.ActionLink("Extrato", "Index", "Extrato")</li>
                <li>@Html.ActionLink("Fluxo de Caixa", "Index", "FluxoCaixa")</li>
            </ul>
        </li>
        <li>@Html.ActionLink("Logoff", "Logoff", "Login")</li>
    </ul>*@

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("AgilusFinan", "Index", "Home", new { area = "" }, new { @class = "navbar-brand"})*@
                <a href="~/Home" class="navbar-brand">
                    <img src="~/Content/Images/agilus.jpg" width="20" height="20" />
                    AgilusFinan
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movimentações</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Pagamento", "Index", "Pagamento")</li>
                            <li>@Html.ActionLink("Recebimento", "Index", "Recebimento")</li>
                            <li>@Html.ActionLink(" Transferência", "Index", "Transferencia")</li>
                            <li>@Html.ActionLink("Titulo Recorrente", "Index", "TituloRecorrente")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastros</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Conta", "Index", "Conta")</li>
                            <li>@Html.ActionLink("Banco", "Index", "Banco")</li>
                            <li>@Html.ActionLink("Categoria", "Index", "Categoria")</li>
                            <li>@Html.ActionLink("Centro de Custo", "Index", "CentroCusto")</li>  
                            <li>@Html.ActionLink("Tipo de Pessoa", "Index", "TipoPessoa")</li>
                            <li>@Html.ActionLink("Pessoa", "Index", "Pessoa")</li>
                            <li>@Html.ActionLink("Tipo de Telefone", "Index", "TipoTelefone")</li>
                            <li>@Html.ActionLink("Feriados Regionais", "Index", "FeriadoRegional")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Segurança</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Usuários", "Index", "Usuario")</li>
                            <li>@Html.ActionLink("Perfil", "Index", "Perfil")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Relatórios</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Extrato", "Index", "Extrato")</li>
                            <li>@Html.ActionLink("Fluxo de Caixa", "Index", "FluxoCaixa")</li>
                        </ul>
                    </li>                   
                    <li class="dropdown">
                       @Html.ActionLink("Logoff", "Logoff", "Login")
                        <ul class="dropdown-menu"></ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div id="footer">
            <footer>
                <p>&copy; @DateTime.Now.Year - Agilus Informática</p>
            </footer>
        </div>

    </div>
    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
