@using Inspinia_MVC5

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Example user</strong>
                            </span> <span class="text-muted text-xs block">Example menu <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li>@Html.ActionLink("Logoff", "Logoff", "Login")</li>
                    </ul>
                </div>
                <div class="logo-element">
                    AF
                </div>
            </li>
            <li class="@Html.IsSelected(action: "Index")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> <span class="nav-label">Inicio</span> </a>
            </li>

            <li class="@Html.IsSelected(action: "Minor")">
                <a href="#"><i class="fa fa-arrow-circle-o-right"></i><span class="nav-label">Movimentaçoes</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>@Html.ActionLink("Pagamento", "Index", "Pagamento")</li>
                    <li>@Html.ActionLink("Recebimento", "Index", "Recebimento")</li>
                    <li>@Html.ActionLink("Transferência", "Index", "Transferencia")</li>
                    <li>@Html.ActionLink("Titulo Recorrente", "Index", "TituloRecorrente")</li>
                    <li>@Html.ActionLink("Gerador de Boletos", "Index", "LoteBoleto")</li>
                    <li>@Html.ActionLink("Conciliaçao de Extrato", "Index", "Conciliacao")</li>
                </ul>
            </li>

            <li class="@Html.IsSelected(action: "Minor")">
                <a href="#"><i class="fa fa-pencil"></i><span class="nav-label">Cadastros</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>@Html.ActionLink("Conta", "Index", "Conta")</li>
                    <li>@Html.ActionLink("Banco", "Index", "Banco")</li>
                    <li>@Html.ActionLink("Categoria", "Index", "Categoria")</li>
                    <li>@Html.ActionLink("Centro de Custo", "Index", "CentroCusto")</li>
                    <li>@Html.ActionLink("Tipo de Pessoa", "Index", "TipoPessoa")</li>
                    <li>@Html.ActionLink("Modelo de Boleto", "Index", "ModeloBoleto")</li>
                    <li>@Html.ActionLink("Pessoa", "Index", "Pessoa")</li>
                    <li>@Html.ActionLink("Tipo de Telefone", "Index", "TipoTelefone")</li>
                    <li>@Html.ActionLink("Feriados Regionais", "Index", "FeriadoRegional")</li>
                    <li>@Html.ActionLink("Boletos Gerados", "Index", "BoletoGerado")</li>

                </ul>
            </li>

            <li class="@Html.IsSelected(action: "Minor")">
                <a href="#"><i class="fa fa-lock"></i><span class="nav-label">Segurança</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>@Html.ActionLink("Usuários", "Index", "Usuario")</li>
                    <li>@Html.ActionLink("Perfil", "Index", "Perfil")</li>
                </ul>
            </li>

            <li class="@Html.IsSelected(action: "Minor")">
                <a href="#"><i class="fa fa-bar-chart"></i><span class="nav-label">Relatórios</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>@Html.ActionLink("Extrato", "Index", "Extrato")</li>
                    <li>@Html.ActionLink("Fluxo de Caixa", "Index", "FluxoCaixa")</li>
                </ul>
            </li>

        </ul>
    </div>
</nav>