<style>
    @@media (max-width: 768px){
        .col-xs-12{
          text-align: center;
          margin-top: 10px;

        }
        .input-daterange {
            margin: 0px auto;
        }
    }
</style>
<div class="row">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Periodo</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    @*<input type="button" class="btn btn-default col-md-2 col-xs-2 botaomes" value="@DateTime.Now.AddMonths(-3).ToString("MMM")" data-inicial-mes="@DateTime.Now.AddMonths(-3).ToString("01/MM/yyyy")" data-final-mes="@DateTime.Now.AddDays(-DateTime.Now.Day).AddDays(1).AddMonths(-2).AddDays(-1).ToString("dd/MM/yyyy")" />*@
                    <input type="button" class="btn btn-default col-md-2 col-xs-3 botaomes" value="@DateTime.Now.AddMonths(-2).ToString("MMM")" data-inicial-mes="@DateTime.Now.AddMonths(-2).ToString("01/MM/yyyy")" data-final-mes="@DateTime.Now.AddDays(-DateTime.Now.Day).AddDays(1).AddMonths(-1).AddDays(-1).ToString("dd/MM/yyyy")" />
                    <input type="button" class="btn btn-default col-md-2 col-xs-3 botaomes" value="@DateTime.Now.AddMonths(-1).ToString("MMM")" data-inicial-mes="@DateTime.Now.AddMonths(-1).ToString("01/MM/yyyy")" data-final-mes="@DateTime.Now.AddDays(-DateTime.Now.Day).AddDays(1).AddMonths(0).AddDays(-1).ToString("dd/MM/yyyy")" />
                    <input type="button" class="btn btn-default col-md-2 col-xs-3 botaomes" value="@DateTime.Now.AddMonths(0).ToString("MMM")" data-inicial-mes="@DateTime.Now.AddMonths(0).ToString("01/MM/yyyy")" data-final-mes="@DateTime.Now.AddDays(-DateTime.Now.Day).AddDays(1).Date.AddMonths(1).AddDays(-1).Date.ToString("dd/MM/yyyy")" />
                    <input type="button" class="btn btn-default col-md-2 col-xs-3 botaomes" value="@DateTime.Now.AddMonths(1).ToString("MMM")" data-inicial-mes="@DateTime.Now.AddMonths(1).ToString("01/MM/yyyy")" data-final-mes="@DateTime.Now.AddDays(-DateTime.Now.Day).AddDays(1).AddMonths(2).AddDays(-1).ToString("dd/MM/yyyy")" />
                </div>
                @{
                    string dataInicial = (string)Session["dataInicial"];
                    string dataFinal = (string)Session["dataFinal"];

                    if (String.IsNullOrEmpty(dataInicial))
                    {
                        dataInicial = DateTime.Now.ToString("01/MM/yyyy");
                        dataFinal = DateTime.Now.AddDays(-DateTime.Now.Day).AddDays(1).Date.AddMonths(1).AddDays(-1).Date.ToString("dd/MM/yyyy");
                    }
                }

                <div class="col-md-5 col-sm-8 col-xs-12">
                    <div class="input-daterange input-group" id="datepicker">
                        <input type="text" class="form-control inputdate" name="start" id="dataInicial" value="@dataInicial" />
                        <span class="input-group-addon">a</span>
                        <input type="text" class="form-control inputdate" name="end" id="dataFinal" value="@dataFinal" />
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-12 text-center">
                    <span class="btn btn-primary" id="consultar">
                        Consultar <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var consultarPeriodo = function (callback) {
        $('.botaomes').click(function () {
            var datainicial = $(this).attr('data-inicial-mes');
            var datafinal = $(this).attr('data-final-mes');
            $('#dataInicial').val(datainicial);
            $('#dataFinal').val(datafinal);
            if (callback)
                callback();
        });
        if (callback)
            $('#consultar').click(callback);
        if (callback)
            callback();
    };
</script>
