@model IEnumerable<AgilusFinan.Domain.Entities.TipoPessoa>

@{
    ViewBag.Title = "Tipos de Pessoa";
}

<h2>Tipos de Pessoa</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table" id="sorted">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "glyphicon glyphicon-pencil" }) |
                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "glyphicon glyphicon-trash" })
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    Utils.initializeDataTables('#sorted');
</script>
