@inherits System.Web.Mvc.WebViewPage<AgilusFinan.Domain.Entities.Endereco>

    @{
        string nomePropriedade = ViewData.ModelMetadata.PropertyName;
    }
    <div class="form-group">
        <label class="control-label col-md-2" for="@(nomePropriedade+"_"+"Cep")">Cep</label>
        <input type="text" name="@(nomePropriedade + "." + "Cep")" id="@(nomePropriedade + "_" + "Cep")" class="form-control" value="@Model.Cep" onblur="pesquisacep(this.value);" />
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="@(nomePropriedade+"_"+"Logradouro")">Logradouro</label>
        <input type="text" name="@(nomePropriedade + "." + "Logradouro")" id="@(nomePropriedade + "_" + "Logradouro")" class="form-control" value="@Model.Logradouro" />
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="@(nomePropriedade + "_" + "Numero")">Núm</label>
        <input type="text" name="@(nomePropriedade + "." + "Numero")" id="@(nomePropriedade + "_" + "Numero")" class="form-control" value="@Model.Numero" />
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="@(nomePropriedade+"_"+"Complemento")">Complemento</label>
        <input type="text" name="@(nomePropriedade + "." + "Complemento")" id="@(nomePropriedade + "_" + "Complemento")" class="form-control" value="@Model.Complemento" />
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="@(nomePropriedade+"_"+"Bairro")">Bairro</label>
        <input type="text" name="@(nomePropriedade + "." + "Bairro")" id="@(nomePropriedade + "_" + "Bairro")" class="form-control" value="@Model.Bairro" />
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="@(nomePropriedade+"_"+"Cidade")">Cidade</label>
        <input type="text" name="@(nomePropriedade + "." + "Cidade")" id="@(nomePropriedade + "_" + "Cidade")" class="form-control" value="@Model.Cidade" />
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="@(nomePropriedade+"_"+"Uf")">Uf</label>
        <input type="text" name="@(nomePropriedade+"."+"Uf")" id="@(nomePropriedade+"_"+"Uf")" class="form-control" value="@Model.Uf" />
    </div>


<script type="text/javascript">
    (function () {
        Utils.createMask(document.getElementById("@(nomePropriedade + "_" + "Cep")"), '00000-000');
    })();



    function limpa_formulário_cep() {
            //Limpa valores do formulário de cep.
        document.getElementById('@(nomePropriedade + "_" + "Logradouro")').value = ("");
        document.getElementById('@(nomePropriedade + "_" + "Bairro")').value = ("");
        document.getElementById('@(nomePropriedade + "_" + "Cidade")').value = ("");
        document.getElementById('@(nomePropriedade+"_"+"Uf")').value = ("");
    }

    function meu_callback(conteudo) {
        if (!("erro" in conteudo)) {
            //Atualiza os campos com os valores.
            document.getElementById('@(nomePropriedade + "_" + "Logradouro")').value = (conteudo.logradouro);
            document.getElementById('@(nomePropriedade + "_" + "Bairro")').value = (conteudo.bairro);
            document.getElementById('@(nomePropriedade + "_" + "Cidade")').value = (conteudo.localidade);
            document.getElementById('@(nomePropriedade+"_"+"Uf")').value = (conteudo.uf);
        } //end if.
        else {
            //CEP não Encontrado.
            limpa_formulário_cep();
            alert("CEP não encontrado.");
        }
    }

    function pesquisacep(valor) {

        //Nova variável "cep" somente com dígitos.
        var cep = valor.replace(/\D/g, '');

        //Verifica se campo cep possui valor informado.
        if (cep != "") {

            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;

            //Valida o formato do CEP.
            if(validacep.test(cep)) {

                //Preenche os campos com "..." enquanto consulta webservice.
                document.getElementById('@(nomePropriedade + "_" + "Logradouro")').value = "...";
                document.getElementById('@(nomePropriedade + "_" + "Bairro")').value = "...";
                document.getElementById('@(nomePropriedade + "_" + "Cidade")').value = "...";
                document.getElementById('@(nomePropriedade+"_"+"Uf")').value = "...";

                //Cria um elemento javascript.
                var script = document.createElement('script');

                //Sincroniza com o callback.
                script.src = '//viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

                //Insere script no documento e carrega o conteúdo.
                document.body.appendChild(script);

            } //end if.
            else {
                //cep é inválido.
                limpa_formulário_cep();
                alert("Formato de CEP inválido.");
            }
        } //end if.
        else {
            //cep sem valor, limpa formulário.
            limpa_formulário_cep();
        }
    };

</script>