@model IEnumerable<AgilusFinan.Domain.Entities.ModeloBoleto>

@{
    ViewBag.Title = "Modelo de Boleto";
}

<h2>Modelos de Boleto</h2>

<br />

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary btn-outline"><i class="fa fa-plus"></i><span> Incluir</span></a>
</p>

<br />
<table class="table">
    <tr>
        <th>Nome do Modelo</th>
        <th>Conta</th>
        <th>
            @Html.DisplayNameFor(model => model.Carteira)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conta.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carteira)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-circle dim fa fa-edit", @title = "Alterar" })
            @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-warning btn-circle dim fa fa-trash-o", @title = "Excluir" })
        </td>
    </tr>
}

</table>
