@model AgilusFinan.Domain.Entities.ModeloBoleto
@{
    Layout = null;
}
<title>Boleto</title>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/css")
<script src="~/Scripts/tinymce/tinymce.min.js"></script>


@Html.Raw(ViewBag.BoletoBancario)
<form method="post" action="~/Recebimento/EnviarBoletoPorEmail">
    <input type="hidden" value="@ViewBag.TituloId" id="tituloId" name="tituloId" />
    <input type="hidden" id="emailDestinatario" name="emailDestinatario" />
    <input type="hidden" id="modeloBoletoId" name="modeloBoletoId" value="@Model.Id" />
    <input type="hidden" id="AssuntoEmail" name="AssuntoEmail" />
    <input type="hidden" id="TextoEmail" name="TextoEmail" />
</form>
<button class="btn btn-default" id="enviar">Enviar por Email</button>


<div id="EnviarEmail" class="dialog" title="Enviar E-Mail">
    <div class="form-group">
        <label for="email">E-mail Destinatário:</label>
        <input class="form-control" type="email" id="email" value="@ViewBag.Email" />
    </div>
    <div class="form-group">
        <label for="email">Assunto: </label>
        <input class="form-control" type="text" id="assuntoemail" value="@Model.AssuntoEmail" />
    </div>
    <div class="form-group">
        <label for="email">Mensagem: </label>
        <textarea class="form-control" id="textoemail">@Model.TextoEmail</textarea>
    </div>
</div>
<script>

    var dialog = $("#EnviarEmail").dialog({
            autoOpen: false,
            height: 450,
            width: 400,
            modal: true,
            buttons: {
                Ok: {
                    text: "Enviar",
                    click: function () {
                        $('#emailDestinatario').val($('#email').val());
                        $('#AssuntoEmail').val($('#assuntoemail').val());
                        $('#TextoEmail').val(tinyMCE.get('textoemail').getContent());
                        $('form').submit();
                        dialog.dialog("close");
                    }
                },
                Cancel: {
                    text: "Cancelar",
                    click: function () {
                        dialog.dialog("close");
                    }
                }
            }
    });

    $('#enviar').click(function () {
        dialog.dialog("open");
    });

    tinymce.init({
        selector: '#textoemail',
        language: 'pt_BR'
    });
</script>