@model AgilusFinan.Domain.Entities.BoletoGerado


<h3>Tem certeza que desseja excluir esse Boleto gerado?</h3>
<div>
    <h4>BoletoGerado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empresa.Nome)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Empresa.Nome)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.TituloId)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.TituloId)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.TituloRecorrenteId)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.TituloRecorrenteId)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.ModeloBoletoId)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.ModeloBoletoId)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.NossoNumero)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.NossoNumero)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.DataVencimento)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.DataVencimento)
        </dd>
    
    </dl>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
    
        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" />
            @Html.ActionLink("Voltar", "Index", null, new { @class="btn btn-white" })
        </div>
    }
</div>

