@model IEnumerable<AgilusFinan.Domain.Entities.CentroCusto>

@{
    ViewBag.Title = "Centros de Custo";
}

<h2>Centros de Custo</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table" id="sorted">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-circle dim fa fa-edit", @title = "Alterar" })
                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-warning btn-circle dim fa fa-trash-o", @title = "Excluir" })
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    Utils.initializeDataTables('#sorted');
</script>