@model IEnumerable<AgilusFinan.Domain.Entities.TipoTelefone>

@{
    ViewBag.Title = "Tipos de Telefone";
}

<h2>Tipos de Telefone</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table" id="sorted">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.ActionLink("Alterar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    Utils.initializeDataTables('#sorted');
</script>
