@using AgilusFinan.Domain.Entities
@model IEnumerable<TituloPendente>

@if (!Model.Any())
{
    <div style="text-align: center"><b>Não há Títulos Pendentes</b></div>
}
else
{
    <table class="table display compact" id="sorted" cellspacing="0">
        <thead>
            <tr>
                <th>
                    Descrição
                </th>
                <th>
                    Vencimento
                </th>
                <th>
                    Valor
                </th>
                <th>
                    Categoria
                </th>
                <th>
                    Pessoa
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr @(item.Direcao == DirecaoCategoria.Pagamento ? "style=color:#d9534f" : "")>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @item.DataVencimento.ToString("d")
                    </td>
                    <td align="right">
                        @(item.Direcao == DirecaoCategoria.Pagamento ? "-" : "")
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeCategoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomePessoa)
                    </td>
                    <td>
                        @if (!String.IsNullOrEmpty(item.TituloId.ToString()))
                        {
                            //@Html.ActionLink("Liquidar", "../" + item.Direcao.ToString() + "/LiquidarDiretamente", new { id = item.TituloId }, new { @class = "btn btn-default btn-xs" })
                            @Html.ActionLink("Liquidar", "../" + item.Direcao.ToString() + "/Liquidar", new { id = item.TituloId }, new { @class = "btn btn-default btn-xs modal-link", data_executar = "excluirTituloLiquidado()" })
                        }
                        else
                        {
                            //@Html.ActionLink(" Liquidar", "LiquidarDiretamente", new { dataVencimento = item.DataVencimento, tituloRecorrenteId = item.TituloRecorrenteId }, new { @class = "btn btn-default btn-xs" })
                            @Html.ActionLink("Liquidar", "Liquidar", new { dataVencimento = item.DataVencimento, tituloRecorrenteId = item.TituloRecorrenteId }, new { @class = "btn btn-default btn-xs modal-link", data_executar = "excluirTituloLiquidado()" })
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>

}

<script>
    Utils.initializeDataTables('#sorted');

    var excluirTituloLiquidado = function () {
        var tr = linkClicado.parent().parent();
        tr.fadeOut("slow", function () {
            tr.remove();
        });
    }
</script>


