@model IEnumerable<AgilusFinan.Domain.Entities.TituloPendente>

<div class="panel-heading">Titulos Pendentes</div>

<table class="table">
    <tr>
        <th>
            Descrição
        </th>
        <th>
            Vencimento
        </th>
        <th>
            Valor
        </th>
        <th>
            Categoria
        </th>
        <th>
            Pessoa
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @item.DataVencimento.ToString("d")
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaId)
            </td>
            <td>
                @if (!String.IsNullOrEmpty(item.TituloId.ToString()))
                {
                    @Html.ActionLink("Liquidar", "../Pagamento/Liquidar", new { id = item.TituloId })
                }
                else
                {
                    @Html.ActionLink("Liquidar", "Liquidar", new { dataVencimento = item.DataVencimento, tituloRecorrenteId = item.TituloRecorrenteId })
                }

            </td>
        </tr>
    }

</table>

