@model IEnumerable<AgilusFinan.Domain.Entities.FeriadoRegional>

@{
    ViewBag.Title = "Feriados Regionais";
}

<div class="ibox animated fadeInRight">
    <div class="ibox-title">
        <h2>Feriados Regionais</h2>
    </div>
    <div class="ibox-content">

        <br />

        <p>
            <a href="@Url.Action("Create")" class="btn btn-primary btn-outline"><i class="fa fa-plus"></i><span> Incluir</span></a>
        </p>

        <br />
        <table class="table" id="sorted">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Empresa.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Empresa.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data.GetDateTimeFormats()[0])
                        </td>
                        <td>
                            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-circle dim fa fa-edit", @title = "Alterar" })
                            <button class="btn btn-warning btn-circle" title="Excluir" onclick="Excluir((@item.Id), this)"><i class="dim fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    Utils.initializeDataTables('#sorted');
</script>
