@model List<AgilusFinan.Domain.Entities.Extrato>
@{
    Layout = null;
}
<div class="ibox animated fadeInRight">
    <div class="ibox-content">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Data de Vencimento</th>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Valor</th>
                    <th>Saldo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@item.Data.GetDateTimeFormats()[0]</td>
                        <td>@( item.DataVencimento != null ? item.DataVencimento.Value.ToString("dd/MM/yyyy") : "")</td>
                        <td>@item.Descricao</td>
                        <td>@item.Categoria</td>
                        <td>@item.Valor</td>
                        <td>@item.Saldo.ToString("C")</td>
                    </tr>

                }
            </tbody>

        </table>
    </div>
</div>
